/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa; /* Light Grey */
    color: #333333; /* Dark Grey */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header Styles */
header {
    text-align: center;
    padding: 2em 0;
    background-color: #467599; /* Dark Blue */
    color: #ffffff; /* White */
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-image {
    max-width: 40%;
    height: 160px;
    border-radius: 10px;
    margin-bottom: 1em;
}

h1, h2 {
    margin: 0.5em 0;
}

/* Main Content Styles */
main {
    text-align: center;
    margin-bottom: 2em;
    padding: 2em;
    background-color: #467599; /* White */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Center the main content horizontally and vertically */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

/* Badge Section Styles */
.badges {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}
#ffcc99
/* Badge Styles */
.badge {
    background-color: #ff9f3e; /* Light Blue */
    color: #ffffff; /* White */
    border-radius: 20px;
    padding: 1em 2em;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.badge-link {
    text-decoration: none;
    color: #ffffff; /* White */
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}

.badge:hover {
    transform: scale(1.05);
    background-color: #ff9f3e; /* Darker Blue */
}

.badge-link:hover {
    color: #ffffff; /* White */
}

/* Footer Styles */
footer {
    background-color: #467599;; /* Dark Blue */
    color: #ffffff; /* White */
    text-align: center;
    padding: 1em 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
}
